{# Add Task Form #}
{% include "task_manager_app/add_task_form.html" %}

{# Task List #}
<ul class="list-group">
    {% for task in tasks %}
        <li class="list-group-item d-flex justify-content-between">
            <strong>{{ task.name }}</strong>
            <div>
                {# Change Priority Task #}
                <button class="btn btn-sm btn-outline-secondary">🔼</button>
                {# Update Task #}
                <button class="btn btn-sm btn-outline-primary">✏️</button>
                {# Delete Task #}
                <form hx-post="{% url 'delete_task' task.id %}"
                      hx-target="#tasks-content-{{ task.project.id }}"
                      hx-swap="innerHTML"
                      hx-confirm="Are you sure you want to delete this task?"
                      class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger">🗑 Delete</button>
                </form>
            </div>
        </li>
    {% empty %}
        <li class="list-group-item text-muted">No tasks available</li>
    {% endfor %}
</ul>
